* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 270vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.897);
    width: 100%;
    max-width: 600px;
    margin: 20px;
    text-align: center;
}

h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

fieldset {
    border: none;
    margin-bottom: 20px;
}

legend {
    font-size: 20px;
    font-weight: bold;
    color: #555;
    margin-bottom: 10px;
}

.form-control {
    margin-bottom: 20px;
}

label {
    font-size: 18px;
    font-weight: bold;
    color: #666;
    display: block;
    margin-bottom: 8px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="password"],
textarea {
    width: calc(100% - 20px);
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    color: #444;
    margin-top: 8px;
    transition: border-color 0.3s ease-in-out;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
input[type="password"]:focus,
textarea:focus {
    outline: none;
    border-color: #5cb85c;
}

button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #5cb85c;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:hover {
    background-color: #4cae4c;
}

.registered-data {
    margin-top: 40px;
}

.card {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: left;
}

.card h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

/* Media Queries for Responsive Design */

@media screen and (max-width: 600px) {
    .container {
        padding: 20px;
    }

    h2 {
        font-size: 24px;
    }

    label {
        font-size: 16px;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="date"],
    input[type="password"],
    textarea {
        font-size: 14px;
    }
}
